.controls {
  background-color: rgb(5, 42, 84);
  padding: 5rem 10rem;
  display: flex;
  justify-content: space-evenly;
}

.controls input,
button {
  border-radius: 5px;
  border: none;
}

.controls input {
  padding: 15px 10px;
  width: 400px;
  color: rgb(126, 123, 123);
  font-size: 25px;
}

.controls button {
  width: 250px;
  background-color: rgb(56, 132, 254);
  color: rgb(255, 255, 255);
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: bold;
}
